[Unit]
Description=EDEX Start: Start edex server via "edex start" command

[Service]
Type=oneshot
ExecStart=/usr/bin/edex start

[Install]
WantedBy=multi-user.target
