[Unit]
Description=EDEX Start: Start edex server via "edex start" command

[Service]
Type=oneshot
ExecStart=/scripts/edex_start.sh

[Install]
WantedBy=multi-user.target
