[Unit]
Description=EDEX Listener Service: Start edex server listener service to respond to pygcdm requests

[Service]
Type=simple
ExecStart=/bin/sh -c "/home/awips/anaconda3/envs/grpc_env/bin/python /server/container_servers.py edex_container"

[Install]
WantedBy=multi-user.target
